.project-area{
    width: 100%;
    background-color: #0051c6;
    background-repeat: no-repeat;
    background-position: right top;
}
@media (max-width: 1420px) {
    .project-area .header-text {
      width: 70%;
      margin-left: 5%;
    }
  }
  
  @media (max-width: 1320px) {
    .project-area .header-text .left-text {
      margin-top: 50%;
    }
    .project-area .header-text {
      width: 50%;
      margin-left: 5%;
    }
  }
  
  @media (max-width: 1140px) {
    .project-area {
      height: auto;
    }
    .project-area .header-text {       
      width: 92%;
      padding-top: 793px;
    }
    .project-area .header-text .left-text {
      margin-top: 5%;
      transform: none !important;
    }
  }
  @media (max-width: 810px) {
    .project-area {
      background-size: contain;
    }
  
    .project-area .header-text {
      padding-top: 100%;
      margin-left: 0;
    }
      
    .container-fluid .col-md-12 {
      margin-right: 0px;
      padding-right: 0px;
    }
  }
  .wav-clip-path{
      
  }
.project-info-section{
    padding-bottom: 100px;
}
.project-info-section h2{
    font-weight: bold;
    color:white;
    margin-bottom: 20px;
    font-size: 50px;
}
.project-info-section ul{
    display: flex;
    flex-direction: row;
    width: 260px;
    justify-content: space-between;
}
.project-info-section ul li{
    height: 60px;
}
.project-info-section ul li a{
    height: 100%;
    width: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid black;
}
.project-info-section ul li a#github:hover{
    background-color: white;
    color: black;
}
.project-info-section ul li a#figma:hover{
    color: black;
    background-color: #db74ff;
}